<html>

<head>
	<title>Đổi mật khẩu</title>
	<script src={{ url_for('static', filename='js/changePassword.js' ) }}></script>
	<link rel="stylesheet" href={{ url_for('static', filename='css/changePassword.css' ) }} />
</head>

<body>
	<div class="header">
		<h1>Đổi mật khẩu</h1>
		<p>{{ msg }}</p>
	</div>
	<form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
		<ul class="list-change">
			<li class="item-change">
				<label>Nhập mật khẩu cũ:</label>
				<input type="password" name="oldpassword" placeholder="Nhập mật khẩu cũ">
			</li>
			<li class="item-change">
				<label>Nhập mật khẩu mới:</label>
				<input type="password" name="newpassword" id="newpassword" placeholder="Nhập mật khẩu mới">
			</li>
			<li class="item-change">
				<label>Nhập lại mật khẩu mới:</label>
				<input type="password" name="cpassword" id="cpassword" placeholder="Nhập lại mật khẩu">
			</li>
		</ul>
		<input type="submit" value="Lưu" id="submit">
		<a href="{{ url_for('profileHome') }}" class="btn-back">Trở lại</a>
	</form>
</body>

</html>