<!DOCTYPE HTML>
<html>

<head>
	<title>Chỉnh sửa thông tin</title>
	<link rel="stylesheet" href={{ url_for('static', filename='css/editProfile.css' ) }} />
	<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css' ) }} />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
	<div id="title">
		<img src="../static/images/heart.png" alt="" class="logo">
		<form>
			<input id="searchBox" type="text" name="searchQuery">
			<input id="searchButton" type="submit" value="Search">
		</form>

		{% if not loggedIn %}
		<div id="signInButton">
			<a class="link" href="/loginForm">Đăng nhập</a>
		</div>
		{% else %}
		<div class="dropdown">
			<button class="dropbtn">Xin chào {{userName}}</button>
			<div class="dropdown-content">
				<a href="/">Trang chủ</a>
				<a href="/account/orders">Đơn hàng</a>
				<a href="/account/profile">Thông tin của bạn</a>
				<hr>
				<a href="/logout">Đăng xuất <i class="fa-solid fa-arrow-right-from-bracket"></i></a>
			</div>
		</div>
		{% endif %}
		<div id="kart">
			
		</div>
	</div>

	<div class="display">
		<h2>Chỉnh sửa thông tin</h2>
		<form action="/updateProfile" method="POST">
			<p>Email:<input type="email" name="email" value={{profileData[1]}} readonly="readonly"></p>
			<p>User Name:<input type="text" name="userName" value={{profileData[2]}}></p>
			<p>Address: <input type="text" name="address1" value={{profileData[3]}}></p>
			<p>Phone Number: <input type="text" name="phone" value={{profileData[4]}}></p>
			<input type="submit" value="Save">
		</form>
		<a href="{{ url_for('profileHome') }}">Go to Profile</a>
	</div>
</body>

</html>